<div class="container">
  <h2>Írja be a vérnyomás eredményét!</h2>

  <form [formGroup]="measurementForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Szisztolés vérnyomás</mat-label>
      <input matInput type="number" formControlName="systolic" placeholder="Pl. 120" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Diasztolés vérnyomás</mat-label>
      <input matInput type="number" formControlName="diastolic" placeholder="Pl. 80" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Pulzus</mat-label>
      <input matInput type="number" formControlName="pulse" placeholder="Pl. 70" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Mérés dátuma</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Válasszon dátumot" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="measurementForm.invalid">
      Mentés
    </button>
  </form>
</div>
