<div class="appointment-form-container">
  <h2>Új időpont létrehozása</h2>

  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <!-- Date Picker -->
    <mat-form-field appearance="fill">
      <mat-label>Időpont dátuma</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="DD/MM/YYYY" type="datepicker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Place -->
    <mat-form-field appearance="fill">
      <mat-label>Helyszín</mat-label>
      <input matInput formControlName="place" placeholder="Pl. Kórház" />
    </mat-form-field>

    <!-- Purpose -->
    <mat-form-field appearance="fill">
      <mat-label>Cél</mat-label>
      <input matInput formControlName="purpose" placeholder="Pl. Rutin vizsgálat" />
    </mat-form-field>

    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit" [disabled]="appointmentForm.invalid">
      Mentés
    </button>
  </form>
</div>
