<div class="page">
  <h2 class="profile-title">Profilom</h2>
  <table class="profile-table">
    <tr>
      <th>Név</th>
      <td>{{ patient?.name }}</td>
    </tr>
    <tr>
      <th>Születési dátum</th>
      <td>{{ patient?.dateOfBirth! | relativeDate}}</td>
    </tr>
    <tr>
      <th>TAJ szám</th>
      <td>{{ patient?.tajNumber }}</td>
    </tr>
    <tr *ngIf="patient?.email">
      <th>Email</th>
      <td>{{ patient?.email }}</td>
    </tr>
    <tr *ngIf="doctorName">
      <th>Kezelőorvos</th>
      <td>{{ doctorName }}</td>
    </tr>
  </table>
</div>
