<h3>Mérések listája</h3>

<mat-table *ngIf="measurements && measurements.length > 0; else noData" [dataSource]="measurements" >

  <!-- Dátum oszlop -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Dátum </mat-header-cell>
    <mat-cell *matCellDef="let measurement">{{ measurement.date | date: 'yyyy-MM-dd' }}</mat-cell>
  </ng-container>

  <!-- Szisztolés vérnyomás oszlop -->
  <ng-container matColumnDef="systolic">
    <mat-header-cell *matHeaderCellDef> Szisztolés </mat-header-cell>
    <mat-cell *matCellDef="let measurement" >{{ measurement.systolic }}</mat-cell>
  </ng-container>

  <!-- Diasztolés vérnyomás oszlop -->
  <ng-container matColumnDef="diastolic">
    <mat-header-cell *matHeaderCellDef> Diasztolés </mat-header-cell>
    <mat-cell *matCellDef="let measurement">{{ measurement.diastolic }}</mat-cell>
  </ng-container>

  <!-- Pulzus oszlop -->
  <ng-container matColumnDef="pulse">
    <mat-header-cell *matHeaderCellDef> Pulzus </mat-header-cell>
    <mat-cell *matCellDef="let measurement">{{ measurement.pulse }}</mat-cell>
  </ng-container>

  <!-- Táblázat sorok -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<ng-template #noData>
  <p>Nincs elérhető mérés.</p>
</ng-template>
